body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; /* تغيير اتجاه العرض إلى الجهة المعاكسة */
}

aside, section {
    width: 50%;
    padding: 20px;
}

form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"], input[type="radio"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#user-image-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: auto;
}

#user-details {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration label {
    display: block;
    margin-bottom: 10px;
}

#terms {
    margin-top: 20px;
    font-size: 14px;
    display: none;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    aside, section {
        width: 100%;
    }
}
